<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>A24 Films - work with us</title>
  </head>
  <body>
    <div id="main">
      <div class="header">
        <!-- Div da img -->
      </div>
      <div id="menu">
        <a href="" class="item">Home</a>
        <a href="who" class="item">Who are a24 films?</a>
        <a href="our" class="item">our films</a>
        <a href="work" class="item">Work with us</a>
      </div>
      <br />
      <br />
      <br />
      <div id="conteudo">