<%- include("header") %>

<h1>Our Films</h1>
<br />
<div class="row">
  <div class="column">
    <img src="img/foto1.jpeg" alt="Moonlight" style="width: 100%" />
    <h4>Moonlight</h4>
    <p>James Laxton - 2017</p>
  </div>
  <div class="column">
    <img src="img/foto2.jpg" alt="The lobster" style="width: 100%" />
    <h4>The lobster</h4>
    <p>Yorgos Lanthimos - 2015</p>
  </div>
  <div class="column">
    <img src="img/foto3.jpg" alt="The lobster" style="width: 100%" />
    <h4>VVITCH</h4>
    <p>Robert Eggers - 2016</p>
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="img/foto4.jpg" alt="20th" style="width: 100%" />
    <h4>20th centry woman</h4>
    <p>Mike Mills - 2017</p>
  </div>
  <div class="column">
    <img src="img/foto5.jpg" alt="The end" style="width: 100%" />
    <h4>The end of the tour</h4>
    <p>James Ponsoldt - 2015</p>
  </div>
  <div class="column">
    <img src="img/foto6.jpg" alt="Obvious" style="width: 100%" />
    <h4>Obvious child</h4>
    <p>Gillian Robespierre - 2014</p>
  </div>
</div>
<%- include("footer") %>
