<%- include("header") %>

        <h1>We make movies</h1>
        <br />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis
          donec et odio pellentesque diam volutpat. Mattis ullamcorper velit sed
          ullamcorper morbi tincidunt ornare massa. Eu lobortis elementum nibh
          tellus. Duis convallis convallis tellus id interdum velit laoreet id
          donec. Mauris ultrices eros in cursus turpis. In iaculis nunc sed
          augue lacus viverra vitae congue. Ornare aenean euismod elementum nisi
          quis eleifend. In egestas erat imperdiet sed euismod. Vulputate enim
          nulla aliquet porttitor lacus luctus. Tempor orci eu lobortis
          elementum nibh tellus. Nulla facilisi nullam vehicula ipsum a arcu.
          Aliquam ultrices sagittis orci a. Pellentesque sit amet porttitor eget
          dolor morbi non. At urna condimentum mattis pellentesque id. Dolor sit
          amet consectetur adipiscing elit ut. Justo nec ultrices dui sapien
          eget mi.
        </p>
        
<%- include("footer") %>
      