<%- include("header") %>

        <h1>Work with us</h1>
        <form action="">
          <label for="position">Position:</label>
          <select id="position" name="position">
            <option value="volvo">Video Editor</option>
            <option value="saab">VFX artist</option>
            <option value="fiat">Audio engenier</option>
            <option value="audi">Screen Play</option>
          </select>
          <br>
          <br>
          <label for="name">Name: </label>
          <input type="text" name="" id="">
          <br>
          <br>
          <label for="tel">Phone: </label>
          <input type="tel" name="tel" id="">
          <br>
          <br>
          <label for="">Little resume: </label>
          <br>
          <textarea name="" id="" cols="40" rows="7"></textarea>
          <br>
          <br>
          <label for="resume"></label>
          <label for="">Actual resume (word or pdf): </label>
          <input type="file" name="" id="">
          <br>
          <br>
          <input type="submit" value="SEND!">
        </form>
      
      
<%- include("footer") %>
      