<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>A24 Films - work with us</title>
  </head>
  <body>
    <div id="main">
      <div class="header">
        <!-- Div da img -->
      </div>
      <div id="menu">
        <a href="" class="item">Home</a>
        <a href="who" class="item">Who are a24 films?</a>
        <a href="our" class="item">our films</a>
        <a href="work" class="item">Work with us</a>
      </div>
      <br />
      <br />
      <br />
      <div id="conteudo">
        <h1>Work with us</h1>
        <form action="">
          <label for="position">Position:</label>
          <select id="position" name="position">
            <option value="volvo">Video Editor</option>
            <option value="saab">VFX artist</option>
            <option value="fiat">Audio engenier</option>
            <option value="audi">Screen Play</option>
          </select>
          <br>
          <br>
          <label for="name">Name: </label>
          <input type="text" name="" id="">
          <br>
          <br>
          <label for="tel">Phone: </label>
          <input type="tel" name="tel" id="">
          <br>
          <br>
          <label for="">Little resume: </label>
          <br>
          <textarea name="" id="" cols="40" rows="7"></textarea>
          <br>
          <br>
          <label for="resume"></label>
          <label for="">Actual resume (word or pdf): </label>
          <input type="file" name="" id="">
          <br>
          <br>
          <input type="submit" value="SEND!">
        </form>
      </div>
      <div id="rodape">
        <h4>All rights reserved</h4>
      </div>
    </div>
  </body>
</html>
